<div class="px-3">
  <h3 class="text-center mb-4">Login</h3>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input type="email" id="loginEmail" class="form-control" placeholder="name@example.com" formControlName="email" />
      <label for="loginEmail">Email address</label>
      <div class="text-danger mt-1" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors">
        <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
        <div *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email</div>
      </div>
    </div>

    <div class="form-floating mb-4">
      <input type="password" id="loginPassword" class="form-control" placeholder="Password" formControlName="password" />
      <label for="loginPassword">Password</label>
      <div class="text-danger mt-1" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors">
        <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
        <div *ngIf="loginForm.get('password')?.errors?.['pattern']">Password must contain letters and numbers (min 6 characters)</div>
      </div>
    </div>

    <button type="submit" class="btn w-100">Login</button>

    <p class="mt-3 text-center">
      Don’t have an account? <a routerLink="/account/register" class="text-decoration-none text-primary">Register here</a>
    </p>
  </form>
</div>
