<nav class="sidebar bg-dark-blue text-white shadow-lg">
  <div class="position-sticky pt-5">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a routerLink="/student/dashboard" routerLinkActive="active" class="list-group-item text-white" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-house-door-fill me-3"></i> Home
      </a>
      <a routerLink="/student/results" routerLinkActive="active" class="list-group-item text-white">
        <i class="bi bi-journal-check me-3"></i> Result List
      </a>
      <a routerLink="/profile" routerLinkActive="active" class="list-group-item text-white">
        <i class="bi bi-person-fill me-3"></i> Profile
      </a>
    </div>
  </div>
</nav>
