<div class="dashboard-container d-flex">
  <div
    class="sidebar"
    [ngClass]="{
      'collapsed': isSidebarCollapsed && isSmallScreen,
      'sidebar-mobile': isSmallScreen
    }"
  >
    <app-sidebaar></app-sidebaar>
  </div>

  <div class="content flex-grow-1 d-flex flex-column">
    <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>

    <div
      class="sidebar-overlay"
      [class.show]="isSidebarCollapsed && isSmallScreen"
      (click)="toggleSidebar()"
      aria-hidden="true"
      role="presentation"
    ></div>

    <div class="container mt-4 content-area">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
</div>
